<h1 *ngIf="isEmpty">Cart is Empty</h1>

<div class="card-container">
    <div *ngFor="let product of cart" class="card">
        <img src="{{ product.image }}">
        <p>{{ product.name }}</p>
        <p>Brand: {{ product.brand }}</p>
        <p>Info: {{ product.description.substring(0, 45) }}...</p>
        <p>Category: {{ product.category }}</p>
        <h4>Price:  $ {{ product.price * product.countInStock }}</h4>
        <app-add-to-cart [obj]="product"></app-add-to-cart>
    </div>
</div>
<hr>
<h1>Total: {{ totalCost }}</h1>

