p {
    margin: 0;
    padding: 1.2rem;
}
img {
    height: 100px;
    widows: 100px;
    margin-top: 50px;
}
h4 {
    padding: 1.2rem;
}

input {
     width: 50px;
     height: 20px;
 }
  
 button {
    margin: 0.6rem;
 }

.wrapper-div {
    display: flex;
    justify-content: center;
    align-items: center;
}