p {
    margin: 0;
    padding: 0.2rem;
}
img {
    height: 100px;
    widows: 100px;
}
.card-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}